
.body-login:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("https://kientruccuatoi.com/wp-content/uploads/2019/08/J_RcyZ00z-xu-huong-noi-that-nha-pho-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  filter: blur(3px);
  z-index: -9;
}

.flex-container {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 300px;
  top: 50px;
  background: #ffffff;
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}
.flex-img {
  background-image: url("https://kientruccuatoi.com/wp-content/uploads/2019/08/J_RcyZ00z-xu-huong-noi-that-nha-pho-1.png");
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-grow: 5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  margin: 0;
}
.flex-form {
  background-color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}
.logo-login {
  background-image: url("./images/logo.png");
  position: absolute;
  width: 212px;
  height: 129px;
  left: 530px;
  top: 30px;
  background-repeat: no-repeat;
}
.userame {
  position: absolute;
  width: 290px;
  height: 38px;
  left: 475px;
  top: 158px;
  border-color : rgba(164, 183, 251, 1);
  border-radius: 48px;
  border-width: 1px;
  font-size: 13px;
  background-image: url("./images/username.png");
  background-repeat: no-repeat;
  background-position: 10px 3px;
  text-indent: 40px;
}
.userame:focus {
  outline: none;
}
.password {
  position: absolute;
  width: 290px;
  height: 38px;
  left: 475px;
  top: 210px;
  border-color: rgba(164, 183, 251, 1);
  border-radius: 48px;
  border-width: 1px;
  font-size: 13px;
  background-image: url("./images/password.png");
  background-repeat: no-repeat;
  background-position: 10px 3px;
  text-indent: 40px;
}
.password:focus {
  outline: none;
}
.flex-container1 {
  display: flex;
  justify-content: space-around;
  height: 43px;
  margin-top: 230px;
}
.text1 {
  background-color: rgb(92, 190, 54);
  font-size: small;
  left: 475px;
  top: 210px;
}
.check-box {
  position: absolute;
  height: 44px;
  left: 477px;
  top: 255px;
  background-color: #3AAFA9;
}

.text-check {
  position: absolute;
  height: 44px;
  left: 494px;
  top: 240px;
  color: #3AAFA9;
  font-size: 11px;
  font-weight: 600;
}
.text-check2 {
  position: absolute;
  height: 44px;
  left: 680px;
  top: 240px;
  color: #3AAFA9;
  font-size: 11px;
  font-weight: 600;
}
.button {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 474px;
  top: 300px;
  background: #3AAFA9;
  border-radius: 10px;
  border-color: #3AAFA9;
  font-size: 20px;
  text-align: center;
  outline: 0;
}
button:focus {
  outline: none;
}
button:checked {
  outline: none;
  outline: 0;
}
.text3 {
  position: absolute;
  left: 117px;
  top: -20px;
  color: #f1f1f1;
  font-size: small;
}
.hr1 {
  position: absolute;
  left: 532px;
  top: 340px;
  width: 80px;
  border: 0;
  border-top: 1px solid #ccc;
}
.hr2 {
  position: absolute;
  left: 628px;
  top: 340px;
  width: 80px;
  border: 0;
  border-top: 1px solid #ccc;
}
.face {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 560px;
  top: 370px;
}
.gg {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 607px;
  top: 370px;
}
.tw {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 650px;
  top: 370px;
}
.text6{
  position: absolute;
width: 72px;
height: 25px;
left: 590px;
  top: 450px;
color: #3AAFA9;
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}
