.card-picture {
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
    overflow: hidden;
    &:hover {
        .layer {
            background-color: rgb(48, 47, 47);
            bottom: 0;
            opacity: 0.7;
        }
    }
    .layer {
        position: absolute;
        overflow: hidden;
        content: "";
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 2;
        background-color: rgb(158, 156, 156);
        opacity: 0.6;
        transition-duration: 0.4s;
    }
    .card-content {
        position: absolute;
        content: "";
        bottom: 20px;
        left: 10px;
        z-index: 3;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px black;
    }
    .card-heart {
        position: absolute;
        content: "";
        bottom: 30px;
        right: 10px;
        z-index: 1000;
        color: white;
        transition-duration: 0.4s;
        width: 40px;
        height: 40px;
        transform: scale(1);
        opacity: 1 !important;
        &:hover {
            transform: scale(1.2);
            color: red;
        }
    }
}
