.card-picture {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    .layer {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120px;
        z-index: 2;
        background-color: rgb(202, 202, 202);
        opacity: 0.6;
    }
    .card-content {
        position: absolute;
        content: "";
        bottom: 30px;
        left: 10px;
        z-index: 3;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px black;
    }
    // .card-heart {
    //     position: absolute;
    //     content: "";
    //     bottom: 30px;
    //     right: 10px;
    //     transform: scale(1);
    //     z-index: 2;
    //     color: white;
    //     transition-duration: 1s;
    //     width: 40px;
    //     height: 40px;
    //     &:hover{
    //         transform: scale(1.2) !important;
    //         color: rgb(35, 172, 47);
    //     }
    // }
}
