.img1{
    width:100%;
    height:100%;
    object-fit: contain;  
}
.img2{
    width:100%;
    height:110px;
    object-fit: contain;  
}
.font1{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    margin-top: 6px;
    text-align: start;
}
.font2{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: lighter;
    text-align: start;
    margin-left: 3px;
    font-size: 25px;
}
.font11{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    text-align: start;
    margin-left: -20px;

}
.font22{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: lighter;
    text-align: start;
    margin-left: 3px;
    font-size: 17px;
    margin-left: -15px;
}