.MultiCarousel {
  float: left;
  /*overflow: hidden;*/
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #666;
}

.MultiCarousel .leftLst {
  left: 2px;
}
.MultiCarousel .rightLst {
  right: 10px;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}
.pro {
  width: 179px;
  height: 179px
}
.pro:hover {
    border: currentColor;
}
.font19{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    text-align: start;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 48%;
  width: 50px;
  height: 50px;
  color: #3AAFA9;
  background-color: #fff;
  top:40%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  font-size: 2rem!important;
  justify-content: center;
  padding: .2rem;
  box-shadow: 0px 0px 5px #3AAFA9;
  
}

.MultiCarousel .leftLst:hover,
.MultiCarousel .rightLst:hover{
  border: 2px solid  #3AAFA9;
  box-shadow: 0px 0px 1px #3AAFA9;
  
}