.navbar {
  background-color: #3AAFA9;
  vertical-align: center;
}

/* .nav-link {
  color: white !important;
  width: 20vw;
  text-align: center;
  transition-duration: 1s;
} */

/* a:hover{
   background-color: #fff!important;
   color: #3AAFA9;

} */

.dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px;
}
.dropdown-menu .dropdown-item {
  color: #3AAFA9;
}

.navbar .navbar-collapse {
  text-align: center;
}

