.footer{
    background-color:#3AAFA9;
    margin-top: 100px;
    color: #FEFFFF;
    font-weight: lighter;
}

.footer a{
    color:#FEFFFF!important;
    font-weight: lighter;
}

.footer .info a{
    color:#FEFFFF!important;
    font-weight: 500;
}

.myfoot{
    
    background-color:#2B7A78;
}
.myfoot a{ 
    
   color: #FEFFFF;
}

.info p{
    margin-bottom: .1rem;
}

.list-unstyled{
    margin-left: 5.5rem;
}