.modal-add-album {
    .image {
        height: 250px;
        width: 100%;
        // object-fit: contain;
    }

    .btnModal {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        .btn-album {
            border-color: #3AAFA9;
            color: #3AAFA9;
            padding: 5px 40px;
            border-radius: 3px;
        }
        .btn-album-primary {
            background-color: #3AAFA9;
            color: white;
            padding: 4px 40px;
            border-radius: 3px;
            &:hover {
                background-color: #22899b;
            }
        }
    }
    .album {
        margin-bottom: 20px;
        display: flex;
        .name-album {
            margin-left: 10px;
        }
    }
}
.add-success {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .name-album-added {
        font-size: 1.2rem;
        font-weight: bold;
        color: #22899b;
        margin-left: 15px;
    }
}
