.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #666;
}
.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}

.linkRoom:hover{
  text-decoration: none;
}
.card:hover{
  border: orange;
  color: cornsilk;
}
.shadow{
  transform: scale(0.9, 0.9);
  transition-duration: 0.4s;
}
.shadow:hover{
  transform: scale(1,1);
}