.font01 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    text-decoration: none;
}
.font02 {
    font-family: "Noto Sans", sans-serif;
    font-weight: lighter;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.designer {
    transform: scale(1);
    transition-duration: 0.6s;
    box-shadow: none;
    &:hover {
        transform: scale(1.1);
    }
}
