.App {
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.logo{
  width: 100px;
  height: 60px;
}

.navbar{
  padding: 0 2rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bot {
  
  background-color: #3AAFA9;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 10rem;
}


.navbar .form-control{
  color:#3AAFA9;
  border:2px solid #3AAFA9;
  border-radius: 3rem;
  padding: .5rem 2rem;
  width: 32rem;
}

.navbar .form-control:focus{
    color:#3AAFA9;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem#17a2b866;    
}


.navbar .form-inline{
   position: absolute;
   padding: 0.1rem;
}

.navbar .btn{
  background-color: transparent;
  border: none;
  position: relative;
  color: #3AAFA9;
  left:7%;
}

.navbar .btn:focus ,.navbar .btn:active{
  background-color: transparent!important;
  border: none !important;
  border-radius: 3rem;
  box-shadow: none;

}

.navbar .form-search{
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools svg{
  font-size: 1.1rem;
  margin: .8rem;
  color: #3AAFA9;
}

.divider{
  width: 100%;
  height: 2px;
  background-color: #3AAFA9;
  position: -webkit-sticky;
  position: sticky;
  top: 69px;
}

.infoBtn .avatar{
  width:40px;
  height:40px;
  border-radius: 50%;
  border: 2px solid #3AAFA9;
  
}

.infoBtn a{
  text-decoration: none;
  font-size: 1rem;
  color: #3AAFA9;
  padding: .375rem .375rem;
  font-weight: 500;
}


.level {
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 1rem;
}

.level .link{
  color: #323232;
  text-decoration: none;
  font-weight: 500;
  margin-right: .5rem;
}

.level .active{
  color: #3AAFA9;
}

.clipboard-icon {
   height: 26px;
   padding-bottom: .3rem;
}
.table thead{
  font-size: 1rem;
}
.table tr{
  font-size: 1.2rem;
  font-weight: 500;
}

.product-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.product-img{
  width: 120px;
  height: 120px;
}

.table .form-check-input{
  width: 1.3rem;
  height: 1.3rem;

}

.table .form-check-input:checked, .table .form-check-input::after,.table .form-check-input::before{
  background-color: #3AAFA9!important;
}

.table .form-check {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.product-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pro-name{
  color: #323232;
}

.pro-supplyer{
  color:#42AFC2;
}
.quantity{
   display:flex;
   justify-content: center;
   align-items: center;
}

/* it will support chrome and firefox */
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button{
   -webkit-appearance:none;
}

.quantity input{
   width:70px;
   height: 40px;
   font-size:1.2rem;
   text-align:center;
   font-weight:500;
   background-color: #ffffff;
   border:1px solid #e5e5e5;
   border-right: none;
   border-left: none;
   
}

.quantity button{
  background:#e5e5e5;
  width:40px;
  height: 40px;
  font-size:2rem;
  font-weight:500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0;

}

.total{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  font-size: 1.3rem;
  font-weight: 500;
  padding: .005rem 2rem 0 0;
}

.total-1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.3rem;
  font-weight: 500;
  padding: .25rem 2rem 0 0;
}

.total-1 .group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0 ;
  min-width: 40%;
}


.checkout{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.checkout .btn{
  background-color: #3AAFA9;
  color: #fff;
}

.divTiltle{
  width: 80%;
  background: #fff;
  margin: 0 auto;
}
.divTiltle object {
  width: 100%;
}
.divTiltle svg{
   max-width: 480px;
   height: 60px;
   overflow:visible;

}

.divForm{
  margin: 0 32%;
  padding: 2rem 0;
}
.address-form{
  width: 100%;
}

.address-form .form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.address-form .form-control{
  border-radius:8px ;
  border: 2px solid #3AAFA9 ;
  height: calc(2em + .75rem + 2px);
  color: #323232;
  font-weight: 500;
}

.address-form label {
  font-weight: 700;
}
.address-form label span{
  color: red;
}

.foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem 3rem 3rem;
  
}


.foot .btnBack{
  width: 8rem;
  height: 3rem;
  background-color: #3AAFA9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot .btnBack:hover{
  width: 10rem;
  background-color: #42AFC2;
  border: none;
}

.foot .btnBack:active{
  width: 10rem;
  background-color: #3AAFA9!important;
  border: none;
}

#frmPayment .radio{
  border-radius:8px ;
  border: 2px solid #3AAFA9 ;
  height: calc(2em + .75rem + 2px);
  color: #323232;
  font-weight: 500;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .35rem .5rem;
}

#frmPayment .radio label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#frmPayment .radio label input{
  margin: .2rem 1rem 0 0;
}


.foot .btnCheckout, .foot .btnCheckout:active{
  width: 15rem;
  background-color: #3AAFA9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot .btnCheckout:hover{
  background-color: #42AFC2;
  border: none;
}

.next{
  justify-content: flex-end;
}

