.listCard {
    margin: 20px;

    .selectStyle {
        display: flex;
        padding-left: 15px;
        .subSelectStyle {
            width: 150px;
            margin-right: 50px;
        }
    }
    .subCard {
        margin-bottom: 20px;
    }
}
.ant-input {
    &:hover {
        border-color: #3aafa9;
        box-shadow: 0 0 0 2px #00748033;
    }
    &:focus {
        border-color: #3aafa9;
        box-shadow: 0 0 0 2px #00748033;
    }
}
.ant-radio {
    border-color: #42afc2;
}
.ant-radio-inner {
    border-color: #42afc2 !important;
    &:hover {
        border-color: #42afc2;
    }
    &:focus {
        border-color: #42afc2;
    }
    &::after {
        background-color: #42afc2;
    }
}
.ant-btn-primary {
    background-color: #3aafa9 !important;
}
.ant-select-selector {
    border: 1px solid #3aafa9 !important;
}
.ant-select-selection-placeholder {
    color: #3aafa9 !important;
}
.ant-select-arrow {
    color: #3aafa9 !important;
}
.ant-select-selection-item {
    color: #3aafa9 !important;
}
.ant-pagination-item-active {
    border-color: #3aafa9 !important;
}
.btn-Top {
}
